<footer>
    <div id="info">
        <div id="contactContainer">
            <h2>Contact Us</h2>
            <p class="contacts">contact info 1</p>
            <p class="contacts">contact info 2</p>
            <p class="contacts">contact info 3</p>
            <p class="contacts">contact info 4</p>
        </div>
        <div id="compContainer">
            <div id="slogan">company logo/motto here</div>
            <div><img src="data/images/templateLogo.jpg" alt="logo" width="200" height="200"></div>
        </div>
    </div>
</footer>